<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Charts</title>

  <!-- Custom fonts for this template-->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">
  <script src="https://prod-useast-a.online.tableau.com//javascripts/api/tableau-2.min.js"></script>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Final Resting Trace</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Top 5 Disease<br/>&emsp;&emsp;Categories</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/nervous_system">Diseases of the nervous<br/> system</a>
            <a class="collapse-item" href="/respiratory_diseases">Diseases of the respiratory<br/> system</a>
            <a class="collapse-item" href="/metabolic_disorders">Endocrine, Nutritional,<br/> and Metabolical Diseases</a>
            <a class="collapse-item" href="/external_causes">External causes of<br/> morbidity and mortality</a>
            <a class="collapse-item" href="/mental_disorders">Mental and behavioural<br/> disorders</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Insights
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>Deep Dives</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/biological_sex">Biological Sex</a>
            <a class="collapse-item" href="/seasons">Seasons</a>
            <a class="collapse-item" href="/education">Education</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Nav Item - Predictor -->
      <li class="nav-item">
        <a class="nav-link" href="/predict">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Cause of Death Predictor</span></a>
      </li>

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Deep Dive - Education Level</h1>
          <p class="mb-4">Here we will explore how educational level affect death rates across multiple other demographics.</p>

          <!-- Content Row -->
          <div class="row">

            <div class="col-xl-10 col-lg-8">

              <!-- Male and Female Difference Chart-->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Examining the Breakdown of Deaths by Education Level and Age Group</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area-lg">
                    <div id="vizContainer"></div>
                    <script>
                      var viz
          
                      // function to put tableau on screen, using example link.
                      function initViz() {
                          var containerDiv = document.getElementById("vizContainer"),
                          url = "https://public.tableau.com/views/Education-LandingPage/Education-LandingPage?:language=en&:display_count=y&publish=yes&:origin=viz_share_link"; // <- insert link here
                          var options = {
                              width: '100%',
                              height: '30rem',
                              hideTabs: true,
                              hideToolbar: true,
                          };
                          viz = new tableau.Viz(containerDiv, url, options);
                      }
                      initViz();
                  </script>
                  </div>
                  <hr>
                  We can already see that the elderly make up the highest percentages in our analysis, but is most notable in “8th grade or less” with 44.91%.
                </div>
              </div>

              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Examining the Breakdown of Deaths by Education Level, Age Group, and Gender</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area-xl">
                    <div id="vizContainer4"></div>
                    <script>
                      var viz
          
                      // function to put tableau on screen, using example link.
                      function initViz() {
                          var containerDiv = document.getElementById("vizContainer4"),
                          url = "https://public.tableau.com/views/Education-Age/Dashboard2?:language=en&:display_count=y&:origin=viz_share_link"; // <- insert link here
                          var options = {
                              width: '100%',
                              height: '50rem',
                              hideTabs: true,
                              hideToolbar: true,
                          };
                          viz = new tableau.Viz(containerDiv, url, options);
                      }
                      initViz();
                  </script>
                  </div>
                  <hr>
                  We split the data between genders. We can start to piece together an inverse relationship with education, 
                  age, and gender. For younger age groups, male deaths take up the majority, whereas for older age groups,
                  usually 75 and older, female deaths become the majority. However, the higher the level of education, the
                  less this trend becomes apparent as male deaths become prevalent in Doctorate and Masters level of
                  education.
                </div>
              </div>

              <!-- Top 5 Death Category Chart -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Examining the Breakdown of Deaths by Education Level, Gender, and Marital Status</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area-lg">
                    <div id="vizContainer2"></div>
                    <script>
                      var viz
          
                      // function to put tableau on screen, using example link.
                      function initViz() {
                          var containerDiv = document.getElementById("vizContainer2"),
                          url = "https://public.tableau.com/views/Education-MaritalStatus-Gender/Story1?:language=en&:display_count=y&publish=yes&:origin=viz_share_link"; // <- insert link here
                          var options = {
                              width: '100%',
                              height: '30rem',
                              hideTabs: true,
                              hideToolbar: true,
                          };
                          viz = new tableau.Viz(containerDiv, url, options);
                      }
                      initViz();
                  </script>
                  </div>
                  <hr>
                  In this observation of between Gender and Education, there are no discernible trends. However, the 
                  significant difference between men and women in the “Doctorate” level of education stands out. Next 
                  we’ll try marital status and education. We can see that almost 20% of the “Never married, single” 
                  category is “8th grade or less” as compared to the other marital statuses. Let’s try to put them 
                  together. Already we can see some pretty notable differences, especially with Married Males and 
                  Widowed Females. The only education that stands out, however, is the Doctorate category, which remains 
                  predominately male. As it stands, education doesn’t appear to have as significant an impact on causes of 
                  death as other factors like age do.
                </div>
              </div>

              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Examining the Breakdown of Deaths by Education Level and Race</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area-xl">
                    <div id="vizContainer3"></div>
                    <script>
                      var viz
          
                      // function to put tableau on screen, using example link.
                      function initViz() {
                          var containerDiv = document.getElementById("vizContainer3"),
                          url = "https://public.tableau.com/views/EducationRace_16014831054250/Story1?:language=en&:display_count=y&publish=yes&:origin=viz_share_link"; // <- insert link here
                          var options = {
                              width: '100%',
                              height: '50rem',
                              hideTabs: true,
                              hideToolbar: true,
                          };
                          viz = new tableau.Viz(containerDiv, url, options);
                      }
                      initViz();
                  </script>
                  </div>
                  <hr>
                  First we analyze the percentage of deaths per race, per education level. We can already see some big
                  differences, especially with the bachelor’s degree level of education. Focusing on only Bachelor’s 
                  Degrees, we look into which Cause of Death Categories are most prevalent for each race. We can see that
                  Asian and Pacific Islander is the only race to have neoplasms(Cancer/Tumors) as it’s leading cause of 
                  death. Diving in even further, we’re shown that trachea, bronchus, and lung neoplasms are the leading 
                  cause of death, making up ~20% of neoplastic deaths for Asian or Pacific Islanders.
                </div>
              </div>

            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../static/vendor/chart.js/Chart.min.js"></script>
</body>

</html>
