<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/stylesheet.css">
</head>

<body style="background-color: #0e2946">
    <div class = "row">
        <p style="text-align: center;">
            <img src="../static/images/Header_pic.png" alt="centered image" />
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
              <h1 style="font-family: Georgia, 'Times New Roman', Times, serif;">Final Resting Trace</h1>
            </div>
        </div>

        <div class="row">            
            <div class="col-md-12">
                <h4 style="font-family: Georgia, 'Times New Roman', Times, serif; color: white;">Analyze mortalities in last 10 years to identify/predict possibilities of specific health conditions for an individual based on several demographic factors.</h4>
            </div>
        </div>

        <div class="col-lg-4">
            <table class="table">
                <thead>
                    <tr>
                        <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; color: white;">List of diseases</h1>
                    </tr>
                </thead>
                <tr>
                    <td>
                        <h4>
                            <ul style="font-family: Georgia, 'Times New Roman', Times, serif;">
                                <li><a href="/respiratory_diseases" style="color: seagreen;">Diseases of the respiratory system (J00-J99)</a></li>
                                <li><a href="/external_causes" style="color: seagreen;">External causes of morbidity and mortality (V01-Y98)</a></li>
                                <li><a href="/nervous_system" style="color: seagreen;">Diseases of the nervous system (G00-G99)</a></li>
                                <li><a href="/metabolic_disorders" style="color: seagreen;">Endocrine, nutritional and metabolic diseases (E00-E90)</a></li>
                                <li><a href="/mental_disorders" style="color: seagreen;">Mental and behavioural disorders (F00-F99)</a></li>
                            </ul>
                        </h4>
                    </td>    
                </tr>
            </table>
        </div>

        <div class="col-lg-4">
            <table class="table">
                <thead>
                    <tr><h1 style="font-family: Georgia, 'Times New Roman', Times, serif; color: white;">Search parameters</h1></tr>
                </thead>
                  <tr>
                      <td>
                        <h4>
                            <ul style="font-family: Georgia, 'Times New Roman', Times, serif; color: white;">
                                <li>Age</li>
                                <li>Education</li>
                                <li>Marital status</li>
                                <li>Gender</li>
                                <li>Race</li>
                            </ul>
                        </h4>
                      </td>
                  </tr>
            </table>

        </div>

        <div class="col-lg-4">
            <table class="table" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                <thead>
                    <tr>
                      <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; color: white;">How it works</h1>
                    </tr>
                  </thead>
                  <tr>
                    <td>
                        <img style="float:left;" width="300" src="../static/images/howitworks.png">
                    </td>  
                  </tr>
                  <tr>
                    <td>
                        <a href="/predict" class="btn btn-primary">Find Health Risks</a>
                    </td>
                  </tr>
            </table>
        </div>
    </div>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    <p>_ </p>
    
    
    <script src="http://127.0.0.1:5500/js/plots.js"></script>
</body>
</div>
</html>
