<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <title>Diseases of the nervous system (G00-G99)</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/js/stylesheet.css">
        <script src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
    </head>


<!-- Note: navbar is small for some reason and extends across the screen -->
    <body style="background-color: #0e2946">
        <div class = "row">
            <div class="col-md-12 jumbotron text-center">
                <h1 style="font-family: Georgia, 'Times New Roman', Times, serif;">Diseases of the nervous system</h1>
              </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div id="vizContainer"></div>
            </div>
        </div>
        <!-- tableu javascript code import -->
        <script src="https://us-east-1.online.tableau.com/javascripts/api/tableau-2.min.js"></script>
        <script>
            var viz

            // function to put tableau on screen, using example link.
            function initViz() {
                var containerDiv = document.getElementById("vizContainer"),
                url = "https://public.tableau.com/views/COD_nervous_15951121943030/NervousDash?:language=en&:display_count=y&publish=yes&:origin=viz_share_link"; // <- insert link here
                viz = new tableau.Viz(containerDiv, url);
            }
            initViz();

        </script>

        <!-- Follor up Text for disease description -->
        <div class ="container" style="color: white;">
            <article class = "row">
                <div class="col-lg-8">
                    <h4>
                    <article class="decription content">
                        <p> 
                            Prominent Diseases:
                            <ul>
                                <li>Alzheimer's and other degenerative diseases (64.6% of deaths)</li>
                                <li>Parkinson's and other extrapyramidal disorders (16.1% of deaths)</li>
                                <li>Huntington's and other systemic atrophies (5.1% of deaths)</li>
                            </ul>
                            The nervous system is incredibly complex and controls crucial functions necessary to perform daily activities. The nervous system controls the 5 senses plus movement, coordination, and the ability to think and reason. Nervous system disorders can be caused by a variety of reasons including but not limited to: vascular disorders (blood supply), injuries, infections, and tumors. Symptoms of nervous system disorders are impaired speech, movement, cognitive ability, vision, and sense of feeling as well as tremors and seizures.

                            <br>
                            <br>
                            More info:
                            <ul>
                                <li><a href="https://www.cdc.gov/aging/aginginfo/alzheimers.htm" style="color: seagreen;">Alzheimer's</a></li>
                                <li><a href="https://www.nia.nih.gov/health/parkinsons-disease#:~:text=Parkinson's%20disease%20is%20a%20brain,have%20difficulty%20walking%20and%20talking" style="color: seagreen;">Parkinson's</a></li>
                                <li><a href="https://ghr.nlm.nih.gov/condition/huntington-disease" style="color: seagreen;">Huntinton's</a></li>
                            </ul>
                        </p>
                    </article>
                    </h4>
                </div>
            </article>
            <a href="/" class="btn btn-primary">Home</a>
        </div>
    </body>

</html>