<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Final Resting Trace</title>

  <!-- Custom fonts for this template-->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">
  <script src="https://prod-useast-a.online.tableau.com//javascripts/api/tableau-2.min.js"></script>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Final Resting Trace</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Top 5 Disease<br/>&emsp;&emsp;Categories</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/nervous_system">Diseases of the nervous<br/> system</a>
            <a class="collapse-item" href="/respiratory_diseases">Diseases of the respiratory<br/> system</a>
            <a class="collapse-item" href="/metabolic_disorders">Endocrine, Nutritional,<br/> and Metabolical Diseases</a>
            <a class="collapse-item" href="/external_causes">External causes of<br/> morbidity and mortality</a>
            <a class="collapse-item" href="/mental_disorders">Mental and behavioural<br/> disorders</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Insights
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>Deep Dives</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/biological_sex">Biological Sex</a>
            <a class="collapse-item" href="/seasons">Seasons</a>
            <a class="collapse-item" href="/education">Education</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Nav Item - Predictor -->
      <li class="nav-item">
        <a class="nav-link" href="/predict">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Cause of Death Predictor</span></a>
      </li>

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Deep Dive - Seasonal Impact</h1>
          <p class="mb-4">Analyze seasonal impact on mortality. Mortality rates higher in winter vs summer? What are the top 5 causes of mortality in different age groups</a>.</p>
        </a>.</p>

          <!-- Content Row -->
          <div class="row">

            <div class="col-xl-10 col-lg-8">

              <!-- Male and Female Difference Chart-->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Overall Seasonal Impact</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <div id="vizContainer"></div>
                    <script>
                      var viz
          
                      // function to put tableau on screen, using example link.
                      function initViz() {
                          var containerDiv = document.getElementById("vizContainer"),
                          url = "https://public.tableau.com/views/Final_Project_Demo-OverallSeasonalImpact/SeasonalImpactOverall?:language=en&:display_count=y&:origin=viz_share_link"; // <- insert link here
                          var options = {
                              width: '100%',
                              height: '25rem',
                              hideTabs: true,
                              hideToolbar: true,
                          };
                          viz = new tableau.Viz(containerDiv, url, options);
                      }
                      initViz();
                  </script>
                  </div>
                  <hr>
                  Contarary to the common belief we dint find any major seasonal impact. Overall higer number of deaths were recorded in winter, however it was on 11.25% compared to summer.   
                </div>
              </div>

              <!-- Top 5 Death Category Chart -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Examining the Top 5 Causes of Deaths in Winter</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <div id="vizContainer2"></div>
                    <script>
                      var viz
          
                      // function to put tableau on screen, using example link.
                      function initViz() {
                          var containerDiv = document.getElementById("vizContainer2"),
                          url = "https://public.tableau.com/views/Final_Project_Demo/Top5Deaths-Winter?:language=en&:display_count=y&:origin=viz_share_link"; // <- insert link here
                          var options = {
                              width: '100%',
                              height: '25rem',
                              hideTabs: true,
                              hideToolbar: true,
                          };
                          viz = new tableau.Viz(containerDiv, url, options);
                      }
                      initViz();
                  </script>
                  </div>
                  <hr>
                  Its evident that many causes of death have a clear seasonal pattern. Circulatory and respiratory diseases, which comprise about half of all deaths, have a peak in winter and lowest mortality during summer. 
                </div>
              </div>

              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Examining the Top 5 Causes of Deaths in Summer</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <div id="vizContainer3"></div>
                    <script>
                      var viz
          
                      // function to put tableau on screen, using example link.
                      function initViz() {
                          var containerDiv = document.getElementById("vizContainer3"),
                          url = "https://public.tableau.com/views/Top5Deaths-Summer/Top5Deaths-Summer?:language=en&:display_count=y&:origin=viz_share_link"; // <- insert link here
                          var options = {
                              width: '100%',
                              height: '25rem',
                              hideTabs: true,
                              hideToolbar: true,
                          };
                          viz = new tableau.Viz(containerDiv, url, options);
                      }
                      initViz();
                  </script>
                  </div>
                  <hr>

                </div>
              </div>

              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Examining the Top 5 Causes of Death of People Under the Age of 15</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area-lg">
                    <div id="vizContainer4"></div>
                    <script>
                      var viz
          
                      // function to put tableau on screen, using example link.
                      function initViz() {
                          var containerDiv = document.getElementById("vizContainer4"),
                          url = "https://public.tableau.com/views/Top5Deaths-AgeGroupunder15/Top5Deaths-AgeGroupunder15?:language=en&:display_count=y&:origin=viz_share_link"; // <- insert link here
                          var options = {
                              width: '100%',
                              height: '30rem',
                              hideTabs: true,
                              hideToolbar: true,
                          };
                          viz = new tableau.Viz(containerDiv, url, options);
                      }
                      initViz();
                  </script>
                  </div>
                  <hr>
                  Over 70% of deaths in this age group attributed to causes that can be prevented with proper education and precautions.
                </div>
              </div>

              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Examining the Top 5 Causes of Death of People Aged 15 - 35</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area-lg">
                    <div id="vizContainer5"></div>
                    <script>
                      var viz
          
                      // function to put tableau on screen, using example link.
                      function initViz() {
                          var containerDiv = document.getElementById("vizContainer5"),
                          url = "https://public.tableau.com/views/Top5Deaths-AgeGroup15-35/Top5Deaths-AgeGroup15-35?:language=en&:display_count=y&:origin=viz_share_link"; // <- insert link here
                          var options = {
                              width: '100%',
                              height: '30rem',
                              hideTabs: true,
                              hideToolbar: true,
                          };
                          viz = new tableau.Viz(containerDiv, url, options);
                      }
                      initViz();
                  </script>
                  </div>
                  <hr>
                  Over 80% of deaths in this age group attributed to issues related to drug abuse, suicides or accidents.
                </div>
              </div>

              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Examining the Top 5 Causes of Death of People Aged 35 - 54</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area-lg">
                    <div id="vizContainer6"></div>
                    <script>
                      var viz
          
                      // function to put tableau on screen, using example link.
                      function initViz() {
                          var containerDiv = document.getElementById("vizContainer6"),
                          url = "https://public.tableau.com/views/Top5Deaths-AgeGroup35-54/Top5Deaths-AgeGroup35-54?:language=en&:display_count=y&:origin=viz_share_link"; // <- insert link here
                          var options = {
                              width: '100%',
                              height: '30rem',
                              hideTabs: true,
                              hideToolbar: true,
                          };
                          viz = new tableau.Viz(containerDiv, url, options);
                      }
                      initViz();
                  </script>
                  </div>
                  <hr>
                  Drug related deaths contributed to highest number of deaths in this age group, followed by heart attacks 
                  and respiratory diseases towards the end of the age group.
                </div>
              </div>

              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Examining the Top 5 Causes of Death of People Aged 55 - 85</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <div id="vizContainer7"></div>
                    <script>
                      var viz
          
                      // function to put tableau on screen, using example link.
                      function initViz() {
                          var containerDiv = document.getElementById("vizContainer7"),
                          url = "https://public.tableau.com/views/Top5Deaths-AgeGroup55-85/Top5Deaths-AgeGroup55-85?:language=en&:display_count=y&:origin=viz_share_link"; // <- insert link here
                          var options = {
                              width: '100%',
                              height: '25rem',
                              hideTabs: true,
                              hideToolbar: true,
                          };
                          viz = new tableau.Viz(containerDiv, url, options);
                      }
                      initViz();
                  </script>
                  </div>
                  <hr>
                  Respiratory diseases were leading cause of death in this age group followed by heart attacks and diabetes.
                </div>
              </div>

            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../static/vendor/chart.js/Chart.min.js"></script>

</body>

</html>
